h4 {
    color: blue
}

#bigger{
    font-size: large;
}

.head{
    color: blueviolet;
}

a:hover{
    color:chartreuse;
    text-decoration:underline;
}

input:focus{
    border-color: brown;
}

.body{
    display: flex;
    flex-direction: column;
    align-items:stretch;
    /* justify-content: flex-end; */
}

h1::first-letter{
    color:brown
}